@{
    ViewBag.Title = "Confirm Email";
}

<h2>Подтвердить Email.</h2>
<div>
    <p>
        Спасибо, что подтвердили свой адрес электронной почты. Пожалуйста @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
