body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    width: 80%!important;
}

.k-tabstrip > .k-content {
    padding: 1em;
}

.specification {
    max-width: 670px;
    margin: 10px 0;
    padding: 0;
}

    .specification dt, dd {
        max-width: 140px;
        float: left;
        margin: 0;
        padding: 5px 0 8px 0;
    }

    .specification dt {
        clear: left;
        width: 100px;
        margin-right: 7px;
        padding-right: 0;
        opacity: 0.7;
    }

    .specification:after, .wrapper:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }

.customer-photo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 32px 35px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
    margin-left: 5px;
}

.customer-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 3px;
}

.k-grid tr .checkbox-align {
    text-align: center;
    vertical-align: middle;
}

.product-photo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 32px 35px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
    margin-right: 5px;
}

.product-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 3px;
}

.k-rating-container .k-rating-item {
    padding: 4px 0;
}

    .k-rating-container .k-rating-item .k-icon {
        font-size: 16px;
    }

#grid .k-grid-edit-row > td > .k-rating {
    margin-left: 0;
    width: 100%;
}

.k-grid .k-grid-search {
    margin-left: auto;
    margin-right: 0;
}

table.expandEditor {
    border-width: 0;
    width: 100%;
    height: 100%;
}

.k-edit-form-container {
    width: 100%!important;
}

.k-edit-form-container .editor-label, .k-edit-label {
    width: 10%!important;
}
.k-edit-field, .k-edit-form-container .editor-field {
    width: 89% !important;
}

.k-grid-content tr td {
    max-height: 200px;
}